body {
    
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button {
    border: solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 140px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: transparent;
}

#save-btn {
    background: slateblue;
}

.container {
    max-width: 350px;
    margin: auto;
    border: 2px solid black;
    background-image: url("https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2739&q=80") ;
    background-size: contain; 
}
